@model ClienteModel
@{
	ViewData["Title"] = "Salvar Cliente";
}
<form asp-controller="Cliente" asp-action="Salvar" method="post">
	<input type="hidden" id="idCliente" asp-for="Id" />
	<input type="hidden" id="dtCadastro" asp-for="DataCadastro" />
	<h1>Cadastrar cliente</h1>
	<div class="row">
		<div class="form-group col-4">
			<div class="input-group">
				<label class="col-form-label col-3 text-right">Nome</label>
				<input class="col-9 form-control" type="text" id="txtNomeCliente" asp-for="Nome" />
			</div>
		</div>
		<div class="form-group col-5">
			<div class="input-group">
				<label class="col-form-label col-3 text-right">Documento</label>
				<select class="col-3 custom-select" id="lstDocumento" asp-for="Tipo">
					<option value="1" selected>CPF</option>
					<option value="2">CNPJ</option>
				</select>
				<input class="col-6 form-control" type="text" asp-for="Documento" id="txtDocumento" />
			</div>
		</div>
		<div class="form-group col-3">
			<div class="input-group">
				<label class="col-form-label col-4 text-right">Telefone</label>
				<input class="col-8 form-control" type="text" id="txtTelefone" asp-for="Telefone" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group offset-10 col-2">
			<a type="button" class="btn btn-light" asp-controller="Cliente" asp-action="Clientes">Cancelar</a>
			<button type="submit" class="btn btn-dark">Salvar</button>
		</div>
	</div>
</form>
<script type="text/javascript">
	var cpfmask = '999.999.999-99';
	var cnpjmask = '99.999.999/9999-99';

	$(document).ready(function () {
		$('#lstDocumento').change(function () {

			$('#txtDocumento').val('').inputmask();
		});
	});
</script>